{% extends "base.html" %} {% block content %} {% load static %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'cafeteria_css/aboutus.css' %}"
  />
  <title>Informatics Cafeteria - About</title>
</head>

  <!-- IMG FOR ABOUT US-->
  <section class="background-image">
    <div class="jumbotron glass-container">
      <p
        style="
          text-align: center;

          font-size: 13px;
        "
      >
        Who We Are?<br />
        Scroll Down To know about us
      </p>
    </div>
  </section>

  <section class="about-container">
    <div class="flex-2">
      <div class="about-content">
        <h1>About Us</h1>
        <h2>Your Favorite Dining Spot at Informatics College Pokhara</h2>
        <p>
          At Informatics Cafeteria, we are dedicated to providing a variety of
          delicious meals, from local Nepali dishes to international
          favorites. Our chefs use the freshest ingredients to craft meals
          that satisfy all tastes and dietary preferences. With our
          easy-to-use online platform, you can view our menu, place orders,
          and make payments securely, whether online or in-person.
        </p>
        <a href="" aria-label="Read more about Informatics Cafeteria"
          >Read More</a
        >
      </div>
      <div class="about-image">
        <img src="{% static 'Images/about.png' %}" alt="" />
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <div class="callToAction">
    <div class="text-center">
      <div class="row justify-content-center">
        <div class="col-md-3 px-3 border-line">
          <p class="text-black fw-bold">Comfortable Ambiance</p>
          <p class="small mt-2 text-black">
            Enjoy a cozy and welcoming environment perfect for relaxation and
            socializing.
          </p>
        </div>
        <div class="col-md-3 px-3 border-line">
          <p class="text-black fw-bold">Affordable Choices</p>
          <p class="small mt-2 text-black">
            Savor delicious meals at prices that fit a student-friendly
            budget.
          </p>
        </div>
        <div class="col-md-3 px-3 border-line">
          <p class="text-black fw-bold">Fresh Ingredients</p>
          <p class="small mt-2 text-black">
            We prioritize freshness, quality, and nutrition in every dish we
            serve.
          </p>
        </div>
        <div class="col-md-3 px-3">
          <p class="text-black fw-bold">Convenient Ordering</p>
          <p class="small mt-2 text-black">
            Place orders and make payments online with our user-friendly
            platform.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action -->
  <section id="ourTeam-Container">
    <h2>Meet Our Team</h2>
    <div class="ourTeamDetails">
      <img src="Images/about.png" alt="" />
      <div class="ourTeam-description">
        <h3>Chicken Roll</h3>
        <p class="price">Rs 120</p>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="ourTeamDetails">
      <img src="Images/about.png" alt="" />
      <div class="ourTeam-description">
        <h3>Featured Menu 2</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="ourTeamDetails">
      <img src="Images/bannerImg1.png" alt="" />
      <div class="ourTeam-description">
        <h3>Featured Menu 3</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="ourTeamDetails">
      <img src="Images/bannerImg1.png" alt="" />
      <div class="ourTeam-description">
        <h3>Featured Menu 4</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </section>
{% endblock content%}
