{% extends "base.html" %} {% block content %} {% load static %}
<head>
    <title>Informatics Cafeteria - College</title>
    <link rel="stylesheet" href="{% static 'cafeteria_css/college.css' %}" />
</head

<main>
    <section class="hero-section">
      <div class="text-box">
        <h1>Informatics College Pokhara</h1>
        <p>
          Ensuring an Enjoyable Lifestyle alongside a Path to Professional Fulfilment.
        </p>
        <a href="https://icp.edu.np/" target="_blank" class="hero-btn">Visit Us</a>
      </div>
    </section>

    <section class="course">
      <h1>Courses We Offer</h1>
      <p>
        The Informatics College Pokhara curriculum provides comprehensive 3 &
        4 years Bachelor's Degree programmes in IT and Business in partnership
        with London Metropolitan University, UK.
      </p>
      <div class="course-row">
        <div class="course-column">
          <img src="{% static 'Images/about.png' %}" alt="" />
          <div class="bit-description">
            <h3>
              <small style="font-size: 13px">Bachelor in</small>
              <br />
              Information Technology
            </h3>

            <p>BSc (Hons) Computing</p>
            <a
              href="https://icp.edu.np/bachelor-in-information-technology"
              target="_blank"
            >
              <button class="btn">Learn More</button>
            </a>
          </div>
        </div>
        <div class="course-column">
          <img src="{% static 'Images/about.png' %}" alt="" />
          <div class="bba-description">
            <h3>
              BBA <br />
              <small style="font-size: 15px; font-weight: 300"
                >Specialisations</small
              >
            </h3>
            <ul>
              <li>Digital Business Management</li>
              <li>Events & Tourism Management</li>
            </ul>
            <p>BA (Hons) Business Administration</p>
            <a href="https://icp.edu.np/bba-courses" target="_blank">
              <button class="btn">Learn More</button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="college-year">
      <div class="college-experience">
        <div class="college-left">
          <h2>36+</h2>
          <p>professional lecturers</p>
        </div>
        <div class="college-center">
          <h1>14</h1>
          <p>years of experience</p>
        </div>

        <div class="college-right">
          <h2>780+</h2>
          <p>Students</p>
        </div>
      </div>
    </section>

    <section class="facilities">
      <h1>Facilities We Provide</h1>
      <p>
        Top Tier Infrastructure and facilities for our students


      </p>

      <div class="facilities-row">
        <div class="facilities-column">
          <img src="https://icp.edu.np/images/infrastructure/lecture-hall.png" alt="Library" />
          <h3>Library</h3>
          <p>
            With an extensive collection of books across various genres and subjects, every curiosity can be satisfied. The welcoming atmosphere, complemented by comfortable seating and abundant natural light, creates an ideal haven for focused study and exploration.
          </p>
        </div>
        <div class="facilities-column">
          <img src="https://icp.edu.np/images/infrastructure/cafeteria.png" alt="Cafeteria" />
          <h3>Cafeteria</h3>
          <p>
            From coffee to full meals and tasty snacks, there's something for everyone. Whether you need a quick bite during a break or a cozy place to hang out with friends, our cafeteria provides a warm and relaxed atmosphere.
          </p>
        </div>
        <div class="facilities-column">
          <img src="https://icp.edu.np/images/infrastructure/library.png" alt="Lecture Theature" />
          <h3>Lecture Theature</h3>
          <p>
            Well-equipped halls provide the perfect environment for delivering lectures and demonstrations ensuring a comprehensive and enriching learning experience.
          </p>
        </div>
      </div>
    </section>
</main>
  {% endblock content %}