{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
  <title>Informatics Cafeteria - {{ category }}</title>
  <link rel="stylesheet" href="{% static 'cafeteria_css/food_list.css' %}" />
</head>

<h2 class="menu-title">{{ category }} Menu</h2>

<div class="food-container">
 {% for food in food_items %}
  <div class="food-item">
     {% if not food.is_in_stock %}
    <p class="out-of-stock">Out of Stock</p>  
    {% endif %}

    <img src="{{ food.image.url }}" alt="{{ food.name }}" />
    <div class="food-details">

      <h3>{{ food.name }}</h3>
      <p>{{ food.description }}</p>
    </div>
    <div class="food-actions">
      <p class="price">NPR: {{ food.price }} /-</p> 
    
      <form method="POST" action="{% url 'add_to_cart' food.id %}" class="add-to-cart-form">
        {% csrf_token %}
        <input type="hidden" name="food_id" value="{{ food.id }}">
        <input type="number" name="quantity" value="1" min="1" class="quantity-input" {% if not food.is_in_stock %} disabled {% endif %}>
        <button type="submit" class="btn btn-primary" {% if not food.is_in_stock %} disabled {% endif %}>Add to Cart</button>
    </form>
    
      
    </div>
  </div>
  {% empty %}
  <p>No items available in this category.</p>
  {% endfor %}
</div>

<a href="{% url 'orderonline' %}" class="back-link">
  <i class="fa-solid fa-arrow-left"></i> Back to Menus
</a>

<script src="{% static 'javascript/quantity.js'%}"></script>

{% endblock %}
