{% extends "base.html" %} {% load static %} {% block content %}

<head>
  <title>Informatics Cafeteria - Menu</title>

 
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/orderonline.css' %}" />
</head>

<!-- Order Steps -->
<div class="order-steps">
  <div class="step">
    <span class="icon">1.</span> Select items from the menu
  </div>
  <div class="step">
    <span class="icon">2.</span> Choose your dishes and pick-up time
  </div>
  <div class="step">
    <span class="icon">3.</span> Pay online or at the cafeteria counter
  </div>
</div>



<!-- Menu Section -->
<h2 class="menu-title">Our Menu</h2>
<div class="menu-table">
  <div class="menu-box">
    <img src="{% static 'Images/college.jpg' %}" alt="Breakfast" />
    <button class="view-menu">View Menu</button>
  </div>
  <div class="menu-box">
    <img src="{% static 'Images/appetizer.jpg' %}" alt="Appetizer" />
    <button class="view-menu">View Menu</button>
  </div>
  <div class="menu-box">
    <img src="{% static 'Images/maincourse.jpg' %}" alt="Main Course" />
    <button class="view-menu">View Menu</button>
  </div>
  <div class="menu-box">
    <img src="{% static 'Images/snacks.jpg' %}" alt="Snacks" />
    <button class="view-menu">View Menu</button>
  </div>
  <div class="menu-box">
    <img src="{% static 'Images/desserts.jpg' %}" alt="Desserts" />
    <button class="view-menu">View Menu</button>
  </div>
  <div class="menu-box">
    <img src="{% static 'Images/beverage.jpg' %}" alt="Beverage" />
    <button class="view-menu">View Menu</button>
  </div>
</div>


{% endblock content %}
