{% extends 'base.html' %}

<head>
    <title>Your Orders</title>
</head>

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">{{ user.username}}, Your Order Details</h2>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Status</th>
                <th>Date</th>
                <th>Pickup Time</th>
                <th>Dine-in Time</th>
                <th>Group Code</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>
                    {% for item in order.order_items.all %}
                    <span>{{ item.food_item.name }}</span><br>
                    {% endfor %}
                </td>
                <td>
                    {% for item in order.order_items.all %}
                    <span>{{ item.quantity }}</span><br>
                    {% endfor %}
                </td>
                <td>Rs. {{ order.total_price }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.order_date|date:"Y-m-d " }}</td>
                <td>{{ order.pickup_time }}</td>
                <td>{{ order.dine_in_time }}</td>
                <td>{{ order.group_code }}</td>
                <td>{{ order.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
