{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'cafeteria_css/login.css' %}" />
    <title>Informatics Cafeteria - Password Reset Complete</title>
</head>

<div id="login" class="login-container">
    <div class="login-box">
        <h2>Password Reset Complete</h2>
        <p>Your password has been successfully reset. You can now log in with your new password.</p>
        <p class="signup-text">
            <a href="{% url 'login' %}" class="signup-link">Go to Login</a>
        </p>
    </div>
</div>


 {% comment %} <div id="toast-container" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000" style="position: fixed; top: 40px; right: 20px; min-width: 250px; z-index: 1050;">
     <div class="toast-header" style="background-color: #fff; color: white;">
        <strong class="me-auto">Informatics Cafeteria</strong>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div> 
    <div class="toast-body">
        <p class="success">Password reset successfully!</p>
    </div>
</div> {% endcomment %}
{% comment %} 
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastEl = document.querySelector('.toast');
        var toast = new bootstrap.Toast(toastEl);
        toast.show();
    });
</script> {% endcomment %}
{% endblock %}