{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Informatics Cafeteria - Password Reset Email Sent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cafeteria_css/login.css' %}" />
</head>

<div id="login" class="login-container">
    <div class="login-box">
        <h2>Password Reset Email Sent</h2>
        <p>We've sent a password reset link to your email address. Please check your inbox (and spam/junk folder) and follow the instructions to reset your password.</p>
        <p>If you don't receive the email within a few minutes, try <a href="{% url 'password_reset' %}" class="signup-link">requesting another reset</a>.</p>
        <p class="signup-text">
            Back to <a href="{% url 'login' %}" class="signup-link">Login</a> or return to <a href="{% url 'home' %}" class="signup-link">Home</a>
        </p>
    </div>
</div>
{% endblock %}