{% load static %}
<link rel="stylesheet" href="{% static 'admin_css/dashboard.css' %}" />
<header>
  <div class="header-container">
    <h1>Admin Dashboard</h1>
    <div class="user-greeting">
      <i class="fas fa-user-circle"></i>
      <span>Welcome, {{ user.username }}</span>
    </div>
  </div>
</header>

<nav>
  <ul>
    <li><a href="{% url 'cafeteria_admin_dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a href="{% url 'admin_upload_popup' %}"><i class="fas fa-calendar-plus"></i> Event Management</a></li>
    <li><a href="{% url 'manage_users' %}"><i class="fas fa-user-cog"></i> Manage Users</a></li>
    <li><a href="{% url 'manage_menu' %}"><i class="fas fa-hamburger"></i> Manage Menu</a></li>
    <li><a href="{% url 'manage_orders' %}"><i class="fas fa-receipt"></i> Manage Orders</a></li>
    <li><a href="{% url 'manage_lost_found' %}"><i class="fas fa-box-open"></i> Manage Lost & Found</a></li>
    <li><a href="{% url 'manage_group_orders' %}"><i class="fas fa-users-cog"></i> Manage Group Orders</a></li>
    <li><a href="{% url 'manage_feedback' %}"><i class="fas fa-comment-dots"></i> Manage Feedback</a></li>
    <li><a href=""><i class="fas fa-wallet"></i> Payment Management</a></li>
    <li><a href="{% url 'logout_admin' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
  </ul>
</nav>
