{% load static %}
<footer>
  <div class="footer-holder">
    <div class="footer-aboutus">
      <h2>About Us</h2>
      <p>
        Informatics Cafeteria offers a convenient and welcoming space for
        students and staff to enjoy delicious meals, snacks, and beverages.
      </p>
      <ul class="section-links">
        <li>
          <a href="" target="_blank">
            <i class="lni lni-instagram-original"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            ><i class="lni lni-facebook-original"></i
          ></a>
        </li>
        <li>
          <a href="" target="_blank"
            ><i class="lni lni-website"></i
          ></a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            ><i class="lni lni-youtube"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-quicklinks">
      <h2>Support</h2>
      <ul class="section-links">
        <li><a href="{% url 'contactus' %}#faq-section">FAQ</a></li>

        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
    <div class="footer-quicklinks">
      <h2>Quick Links</h2>
      <ul class="section-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'aboutus' %}">About Us</a></li>
        <li><a href="{% url 'contactus' %}">Contact</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h2>Contact Us</h2>
      <ul class="info">
        <li>
          <span><i class="lni lni-phone"></i></span>
          <p><a href="tel:9816540000">+977 9816540000</a></p>
        </li>
        <li>
          <span><i class="lni lni-envelope"></i></span>
          <p><a href="mailto:informaticscafeteria@gmail.com">informaticscafeteria@gmail.com</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyrightText">
    <p>
      <img
        src="{% static 'Images/navlogo.png '%}"
        alt="Informatics Cafeteira"
      />&copy;2025 Informatics Cafeteria. All Rights Reserved
    </p>
  </div>
</footer>
<!-- Adding Whatsapp In the website -->
<a href="https:/wa.me/+9779817158500" target="_blank" class="whatsapp_float"
  ><i class="fa-brands fa-whatsapp whatsapp-icon"></i
></a>
