/* For image slider */
:root {
    --items-count: 6;
    --width: 370px;
    --height: 220px;
    --duration: 8s;
    --gap: 250px; 
}

/* Order Steps */
.order-steps {
    display: flex;
    justify-content: center;
    background: #ddd;
    padding: 15px;
    gap: 20px;
    font-size: 18px;
    text-align: center;
    margin-top: -1px;
}
.step {
    display: flex;
    align-items: center;
    gap: 5px;
}


.slider {
    border: 1px solid #ddddddc9;
    width: 100%;
    height: var(--height);
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #fff 10% 90%, transparent);
    margin-bottom: 3%;
}

.slider img {
    position: absolute;
    width: var(--width);
    height: var(--height);
    object-fit: contain;
    left: 100%;
    animation: autoRunSlider var(--duration) infinite linear;
    animation-delay: calc((var(--pos) - 1) * (var(--duration) / var(--items-count)));
    gap: 100px;
}

.slider:hover img {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider img:hover {
    filter: grayscale(0);
}

.slider img {
    filter: grayscale(0);
}


    



/* Menu Title */
.menu-title {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

/* Menu Table (Grid Layout) */
.menu-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto);
    width: 100%;
    max-width: 810px; 
    margin: 20px auto; 
    border: 1px solid #111111; 
    border-radius: 4px;
    padding: 10px;
    background-color:rgba(128, 128, 128, 0.036);
    gap: 20px; 
}


/* Individual Menu Box */
.menu-box {
    display: flex; 
    justify-content:left;
    border: 1px solid black; 
    border-radius: 2px;
    padding: 15px;
    /* background-color: #ffffff81; */
}
.menu-box:hover{
    cursor: pointer;
    /* opacity: 0.6; */
    transform: scale(1.05);
    background-color: #ffffff;
}


/* Menu Box Image */
.menu-box img {
    width: 150px;
    height: 70px;
    border-radius: 2px;
    margin-right: 5rem;
}

/* View Menu Button */
.menu-box .view-menu {
    background: #99180d;
    color: white;
    border: none;
    width: 120px; 
    height: 35px; 
    padding: 5px 10px; 
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 12%;
    font-family: 'Poppins', sans-serif;
}

.menu-box .view-menu:hover {
    background: #99190dd1;
}

/* Responsive design for mobile view */

@media (max-width: 768px) {
    .menu-title {
        text-align: center;
        margin-top: 10%;
    }
    .menu-table {
        grid-template-columns: repeat(1, 1fr); /  
    }
    
    .menu-box {
        width: 100%; 
        
    }
}


/* For image slider */
@keyframes autoRunSlider {
    from {
        left: 100%;
    }
    to {
        left: calc((var(--width) + var(--gap)) * -1);
    }
}
