{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'admin_css/edit_user.css' %}"
    />
</head>    

<div class="edit-user-container">
    <h2>Edit User For for {{ user.username }}</h2>

    <form method="POST" class="edit-user-form">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" value="{{ user.username }}" required>

        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email }}" required>

        <label>Phone:</label>
        <input type="text" name="phone" value="{{ user.phone }}">

        <button type="submit" class="update-btn">Update</button>
    </form>

    <a href="{% url 'manage_users' %}" class="back-link"><i class="fa-solid fa-arrow-left"></i> Back to Users</a>
</div>
{% endblock %}
